@charset "utf-8";
body {
	padding: 0;
	margin: 0;
	font-size: 14px;
}
.header {
	width: 1000px;
	background-color: #8A6768;
	margin-left: auto;
	margin-right: auto;
	/* [disabled]margin-top: 5px; */
	/* [disabled]margin-bottom: 3px; */
	padding-top: 5px;
	padding-bottom: 5px;
}
.main {
	width: 1000px;
	background-color: #FFFFFF;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.main .navbar {
	background-color: #F17A7C;
	width: 200px;
	height: 500px;
	float: left;
	line-height: 40px;
}
.main .navbar a {
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: #EA383B;
	text-align: center;
	line-height: 40px;
	border-radius: 10px;
	font-size: 20px;
}
.main .navbar a:hover {
	background-color: #B21115;
}


.main .section {
	width: 780px;
	height: 500px;
	float: left;
	margin-left: 20px;
	background-color: #72BD3C;
}
.main .section iframe {
	width: 100%;
	border: none;
	height: 100%;
}



.footer {
	width: 1000px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: #16AECD;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
